.compact-video-item-outer {
	display: flex;
	flex-direction: row;
	gap: var(--pfy-spacing-standard-compact);
	
	> div {
		flex-grow: 1;
	}

	& button {
		align-self: flex-start;
	}

	.compact-video-item-inner {
		display: flex;
		flex-direction: column;
		margin-top: var(--pfy-spacing-standard-compact);
		padding-bottom: var(--pfy-spacing-standard-compact);
		padding-left: var(--pfy-spacing-standard-compact);
	}
}
