.forgot-password-page {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 100%;
	
	.send-reset-email-button {
		margin-top: var(--pfy-spacing-standard);
	}
	
	.verification-text {
		font-size: var(--pfy-font-heading-tiny);
	}
	
	.reset-password-form {
		display: flex;
		flex-direction: column;
		gap: var(--pfy-spacing-standard);
		width: 100%;
		
		.reset-button {
			margin-top: var(--pfy-spacing-standard);
			align-self: center;
		}
	}
	
}
