.field-row {
	display: flex;
	flex-direction: row;

	.label {
		width: var(--pfy-label-width-medium);
		font-size: var(--pfy-font-text-standard);
		margin-right: var(--pfy-spacing-standard);

		&[data-size="small"] {
			width: var(--pfy-label-width-small);
		}
		
		&[data-size="medium"] {
			width: var(--pfy-label-width-medium);
		}
		
		&[data-size="large"] {
			width: var(--pfy-label-width-large);
		}

		&[data-size="very large"] {
			width: var(--pfy-label-width-very-large);
		}
		
		&[data-size="max"] {
			width: var(--pfy-label-width-max);
		}
	}
	
	.field-input {
		width: var(--pfy-field-width-small);
		font-size: var(--pfy-field-font-size);
		grid-column: 2;

		/* Colour Picker */
		&[type="color"] {
			background: 0;
			padding: 0;
			height: 100%;
			box-sizing: content-box;
			border-radius: var(--pfy-spacing-standard);

			/* Remove default styling, such as padding and expand colour preview to full field bar. */
			&::-webkit-color-swatch-wrapper {
				padding: 0;
				border: 0;
			}
			
			&::-webkit-color-swatch {
				border: none;
				margin: 0;
				width: 100%;
			}
		}
		
		&[data-size="very small"] {
			width: var(--pfy-field-width-very-small);
		}

		&[data-size="small"] {
			width: var(--pfy-field-width-small);
		}
		
		&[data-size="medium"] {
			width: var(--pfy-field-width-medium);
		}
		
		&[data-size="large"] {
			width: var(--pfy-field-width-large);
		}

		&[data-size="very large"] {
			width: var(--pfy-field-width-very-large);
		}
		
		&[data-size="max"] {
			flex-grow: 1;
		}
	}
}
