.field-row {
	display: flex;
	flex-direction: row;

	.label {
		width: var(--pfy-label-width-medium);
		font-size: var(--pfy-font-text-standard);

		&[data-size="small"] {
			width: var(--pfy-label-width-small);
		}
		
		&[data-size="medium"] {
			width: var(--pfy-label-width-medium);
		}
		
		&[data-size="large"] {
			width: var(--pfy-label-width-large);
		}
		
		&[data-size="max"] {
			width: var(--pfy-label-width-max);
		}
	}
	
	.field-input {
		width: var(--pfy-field-width-small);
		font-size: var(--pfy-field-font-size);
		grid-column: 2;
		
		&[data-size="small"] {
			width: var(--pfy-field-width-small);
		}
		
		&[data-size="medium"] {
			width: var(--pfy-field-width-medium);
		}
		
		&[data-size="large"] {
			width: var(--pfy-field-width-large);
		}
		
		&[data-size="max"] {
			flex-grow: 1;
		}
	}
}
