@import "src/globals.css";

#video-timestamp-list {
	display: flex;
	flex-direction: column;
}

.video-timestamp-list-margin {
	margin: 4px 0;
	height: 0;
}

.video-timestamp-list-separator {
	width: 100%;
	margin: 5px -6px 8px -6px;
	padding: 0px 6px;
	background: var(--light-accent);
}

.video-card {
	margin: 100px;
}