.video-list-outer {
	display: flex;
	flex-direction: column;

	.video-card {
		display: flex;
		flex-direction: row;

		.drag-handle {
			min-width: 20px;
			height: 34px;
			margin-top: auto;
			margin-bottom: auto;
		}
	}

	.timestamp-list {
		list-style-type: none;
		padding-left: calc(var(--pfy-spacing-large) * 2);
		margin-top: var(--pfy-spacing-standard-compact);
		margin-bottom: var(--pfy-spacing-standard-compact);
	}

	.add-timestamp-row {
		display: flex;
		flex-direction: row;
		margin-bottom: 1px;

		.fake-timestamp {
			color: var(--pfy-text-lighter);
			font-size: var(--pfy-font-text-standard);
			text-decoration: underline;
			opacity: 0.5;
			margin: 0;
		}

		.add-timestamp-button {
			margin: 0;
		}

		.info-text {
			color: var(--pfy-text-light);
			font-size: var(--pfy-font-text-standard);
			margin: 0;
			margin-left: var(--pfy-spacing-standard-compact);
		}
	}
}
