.expander-inner {
	display: flex;
	flex-direction: row;

	.expander-control-button {
		padding: 2px !important;

		.indicator-arrow-wrapper {
			display: flex;
			height: 100%;
			align-items: center;
			transition: transform var(--pfy-timing-fast);

			&[data-state="true"] {
				transform: rotate(180deg);
			}

			&[data-state="false"] {
				transform: rotate(0deg);
			}
		}
	}

	.message-text {
		margin: 0;
		margin-left: var(--pfy-spacing-standard-compact);
		font-size: var(--pfy-font-text-standard);
	}

}
