.button-row {
	display: flex;
	flex-direction: row;

	.go-back-arrow {
		transform: rotate(90deg);
	}

	.go-back-text {
		margin-left: var(--pfy-spacing-standard-compact);
	}
}

.tag-description {
	margin: var(--pfy-spacing-standard);
	font-size: var(--pfy-font-text-standard);
}

.tag-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0;
	gap: var(--pfy-spacing-standard);
	list-style-type: none;
}

.empty-tag-message {
	display: block;
	color: var(--pfy-text-lighter);
	font-size: var(--pfy-font-text-standard);
	text-align: center;
	width: 100%;
}

.tag-button-bar {
	display: flex;
	flex-direction: row;
	gap: var(--pfy-spacing-standard);
	grid-area: var(--pfy-spacing-standard);
	margin-bottom: var(--pfy-spacing-standard);
}
