.outer-body {
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--pfy-empty-01-raised);

	/* Header Area */
	.header-area {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr auto;
		background: var(--pfy-empty-02-normal);
		padding: var(--pfy-spacing-standard);
		padding-bottom: 0;

		.extension-logo {
			width: var(--pfy-logo-standard);
			aspect-ratio: 6 / 5;
		}
		
		.extension-title {
			color: var(--pfy-text-strong);
			font-size: var(--pfy-font-heading-large);
			margin-left: var(--pfy-spacing-standard-compact);
			margin-top: auto;
			margin-bottom: auto;
		}

		.bold-separator {
			grid-row: 2;
			grid-column: 1 / 3;
			margin: 0;
		}
	}

	/* Inner Body */
	.inner-body-content {
		padding: var(--pfy-spacing-large);
		color: var(--pfy-text-normal);
		flex-grow: 1;
		overflow-y: auto;
	}

	/* Footer Area */
	.footer-area {
		background: var(--pfy-empty-02-normal);
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: auto 1fr;
		box-sizing: border-box;
		
		.bold-separator {
			width: calc(100% - var(--pfy-spacing-standard) * 2);
			margin: 0;
			/* Compensate because box-sizing: border-box; doesn't work. */
			margin-left: var(--pfy-spacing-standard);
			margin-right: var(--pfy-spacing-standard);
			grid-column: 1 / 3;
		}

		.button-options {
			padding: var(--pfy-spacing-standard);
			gap: var(--pfy-spacing-standard);
		}

		.extension-version {
			margin-top: auto;
			margin-left: auto;
			margin-right: var(--pfy-spacing-standard-compact);
			margin-bottom: var(--pfy-spacing-standard-compact);
			color: var(--pfy-empty-02-shadow);
			font-size: var(--pfy-font-heading-tiny);
		}
	}
}