.notification-root {
	--notification-colour: rgb();
	--notification-content-colour: white;

	.notification-separator {
		margin: 0;
		border: var(--pfy-spacing-standard-compact) solid var(--notification-colour);
		filter: brightness(80%);
	}

	.notification-interior {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: auto 1fr auto;
		column-gap: var(--pfy-spacing-standard);
		background: var(--notification-colour);
		padding-left: var(--pfy-spacing-standard);
		padding-right: var(--pfy-spacing-standard-compact);
		padding-top: var(--pfy-spacing-standard-compact);
		padding-bottom: var(--pfy-spacing-standard-compact);
		color: var(--notification-content-colour);
		align-items: center;
		
		.notification-icon {
			width: 19px;
			height: 19px;
			grid-row: 1 / 3;
			stroke: var(--notification-content-colour);
			fill: var(--notification-content-colour);
			stroke-width: 1px;
		}

		&[data-image-name="Warning"] {
			.notification-icon {
				stroke: none;
			}
		}

		.toast-title {
			font-size: var(--pfy-font-heading-small);
			font-weight: bold;
			grid-column: 2;
			grid-row: 1;
		}
		
		.toast-message {
			grid-column: 2;
			grid-row: 2;
			font-size: var(--pfy-font-text-standard);
			margin: 0;
		}
		
		.close-button {
			grid-row: 1 / 3;
			grid-column: 3;
		}
	}

	&[data-state="open"] {
		animation-duration: var(--pfy-timing-long);
		animation-timing-function: ease-in;
		
		&[data-animation="Slide"] {
			animation-name: slideIn;
		}

		&[data-animation="Shake"] {
			animation-name: shakeBounceLeftRightAnimation;
		}
	}


	&[data-state="closed"] {
		animation: slideOut var(--pfy-timing-long) ease-in;
	}

	/* Colour types */
	&[data-colour="Info"] {
		--notification-colour: var(--pfy-important-info);
		--notification-content-colour: white;
	}

	&[data-colour="Warning"] {
		--notification-colour: var(--pfy-important-warning);
		--notification-content-colour: white;
	}

	&[data-colour="Error"] {
		--notification-colour: var(--pfy-important-error);
		--notification-content-colour: white;
	}

	&[data-colour="Success"] {
		--notification-colour: var(--pfy-important-success);
		--notification-content-colour: black;
	}
}

.toast-viewport {
	position: fixed;
	flex-direction: column;
	width: 100%;
	padding: 0;
	margin: 0;
	bottom: 0;
	display: flex;
	list-style: none;
	outline: none;
}


@keyframes slideIn {
	from {
		transform: translateX(105px);
	}
	to {
		transform: translateX(0);
	}
}
  
@keyframes slideOut {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(105px);
	}
}