.outer-heading-box {
	background: var(--pfy-empty-01-depth);
	padding: var(--pfy-spacing-standard-compact);
	padding-left: var(--pfy-spacing-standard);
	border-radius: var(--pfy-spacing-standard-compact);

	.heading-text {
		font-size: var(--pfy-font-heading-small);
		margin: 0;
		border-left: var(--pfy-spacing-standard-compact) solid var(--pfy-primary-dark);
		padding-left: var(--pfy-spacing-standard);
	}
}
