.timestamp-inner {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto 54px 1fr auto auto;
	font-size: var(--pfy-font-text-standard);
	gap: var(--pfy-spacing-standard-compact);
	overflow-y: hidden;

	.timestamp-text {
		width: 54px;
		margin-left: var(--pfy-spacing-standard-compact);
	}

	.message-text {
		display: block;
		margin: 0;
		height: var(--pfy-element-button-size-regular);
		color: var(--pfy-text-light);
		border-left: 1px solid var(--pfy-primary-common);
		padding-left: var(--pfy-spacing-standard-compact);
		padding-bottom: var(--pfy-spacing-standard-compact);
		text-overflow: ellipsis;
	}

	.autoplay-button {
		&[data-is-auto="true"] {
			background-color: red;
		}
	}

	.edit-button {
		/* This compensates for the border and box shadow being cut off. */
		margin-right: var(--pfy-spacing-standard-compact);
	}
}
