.error-page {
	display: flex;
	flex-direction: column;
	height: 100%;

	.toolbar {
		display: flex;
		flex-direction: column;
		gap: var(--pfy-spacing-standard);
		align-items: center;
		margin-bottom: var(--pfy-spacing-large);

		& button {
			flex-grow: 1;
		}
	}

	.main-error-text {
		color: var(--pfy-text-strong);
		font-size: var(--pfy-font-text-standard);
	}

	.detailed-error-text {
		color: var(--pfy-text-normal);
		font-size: var(--pfy-font-text-standard);
	}
	
	.error-block {
		margin-top: var(--pfy-spacing-standard);
	}
}
