.video-card-inner {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
}

.video-card-thumb {
	width: 80px;
	height: 44px;
	border-radius: 5px;
	object-fit: cover;
	object-position: 0% 50%;
	grid-row: 1 / 3;
	margin: 0 5px auto 0;
}

.video-card-title {
	grid-column: 2;
	font-size: 10pt;
	font-weight: bold;
	color: var(--dark-accent);
}

.video-card-url {
	grid-column: 2;
	grid-row: 2;
	font-size: 6.7pt;
	font-weight: bold;
	color: var(--dim-accent);
}
