.video-card-box {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	column-gap: var(--pfy-spacing-standard);

	.thumbnail-image {
		width: 80px;
		aspect-ratio: 20 / 11;
		border-radius: var(--pfy-spacing-standard);
		object-fit: cover;
		object-position: 0% 50%;
		grid-row: 1 / 3;
	}

	.video-title {
		margin: 0;
		font-size: var(--pfy-font-heading-tiny);
		grid-column: 2;
	}

	.video-link {
		font-size: var(--pfy-font-text-standard);
		grid-column: 2;
		grid-row: 2;
	}
}
