/*
* This is a generic file for an expanding element (@radix-ui/react-collapsible), which
* mainly handles animation for the expander. However, it is individual to each expander element
* to style the expander controls/visuals.
*
* For elements which need sliding animations, add the attribute 'data-expander-use-slide-animation'.
*/
.expander-content {
	overflow-y: hidden;

	&[data-state="open"][data-expander-use-slide-animation] {
		animation: slideDown var(--pfy-timing-fast) ease-out;
	}
	
	&[data-state="closed"][data-expander-use-slide-animation] {
		animation: slideUp var(--pfy-timing-fast) ease-out;
	}

}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}
  
@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}
