/* To prevent any styling conflicts, all provided styles have to be within a pfy-style-context class. */

.pfy-style-context {
	* {
		font-family: var(--pfy-font-scheme-standard);
	}

	&[data-transition="true"] {
		* {
			transition: background var(--pfy-timing-fast);
		}
	}

	.regular-separator {
		width: 100%;
		border-left: 0;
		border-right: 0;
		border-top: 1px;
		border-color: var(--pfy-primary-faded);
	}

	.bold-separator {
		width: 100%;
		border-left: 0;
		border-right: 0;
		border-top: 1px;
		border-color: var(--pfy-primary-dark);
	}
	
	.embedded-link-button {
		background: none;
		border: none;
		padding: 0;
		font-size: var(--pfy-font-text-standard);
		
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	/* Button base, does not define size, only visuals. */
	.button-base {
		box-shadow: var(--pfy-box-shadow-standard) var(--pfy-empty-01-shadow);
		font-family: var(--pfy-font-scheme-standard);
		background: var(--pfy-field-background);
		color: var(--pfy-field-content);
		border-style: solid;
		border-color: var(--pfy-primary-dark);
		font-weight: bold;
		line-height: 0px;
		text-align: center;
		transition: background var(--pfy-timing-fast), border var(--pfy-timing-snappy), outline var(--pfy-timing-snappy);
	
		&:focus {
			outline: 1px solid var(--pfy-primary-ultradark);
		}

		&:hover {
			background: var(--pfy-shade-05);
			border-color: var(--pfy-primary-ultradark);
		}

		&:active {
			background: var(--pfy-shade-04);
		}

		&:disabled {
			background-color: var(--pfy-empty-02-raised);
			color: var(--pfy-shade-03);
			border-style: solid;
			border-color: var(--pfy-primary-faded);
			cursor: not-allowed;
		}

		&[data-active-toggle="true"] {
			background-color: var(--pfy-primary-dark);
		}
	}

	.button-invisible {
		background: none;
		border: 0px;
	}

	/* A button with no strong outline or background, useful for links. */
	.button-subtle {
		background: none;
		padding-left: var(--pfy-spacing-standard);
		padding-right: var(--pfy-spacing-standard);
		padding-top: var(--pfy-spacing-standard-compact);
		padding-bottom: var(--pfy-spacing-standard-compact);
		border-radius: var(--pfy-spacing-standard-compact);
		font-family: var(--pfy-font-scheme-standard);
		outline: 0;
		border: 0;
		transition: background var(--pfy-timing-very-long);

		&:hover {
			background: var(--pfy-empty-02-normal);
		}
	}

	/* Small form text input */
	.small-text-input {
		padding: 0;
		padding-left: var(--pfy-spacing-standard-compact);
		padding-right: var(--pfy-spacing-standard-compact);
		background: var(--pfy-field-background);
		color: var(--pfy-field-content);
		height: var(--pfy-element-button-size-regular);
		outline-color: var(--pfy-primary-dark);
		border: 1px solid var(--pfy-primary-ultradark);
		border-radius: var(--pfy-element-button-size-regular);
		font-size: var(--pfy-field-font-size);
		transition: border var(--pfy-timing-snappy), outline var(--pfy-timing-snappy);

		&:hover {
			border-color: var(--pfy-primary-dark);
		}

		&:focus {
			outline: 1px solid var(--pfy-primary-dark);
		}
		
		&[data-force-focus="true"] {
			outline: 1px solid var(--pfy-primary-dark);
		}
	}

	.medium-text-input {
		padding: 0;
		padding-left: var(--pfy-spacing-standard);
		padding-right: var(--pfy-spacing-standard);
		background: var(--pfy-shade-light-02);
		color: var(--pfy-shade-dark-02);
		height: var(--pfy-element-button-size-regular);
		outline: 0;
		border: 1px solid var(--pfy-primary-ultradark);
		font-size: var(--pfy-field-font-size);
		transition: border var(--pfy-timing-snappy), outline var(--pfy-timing-snappy);

		&:hover {
			border-color: var(--pfy-primary-dark);
		}

		&:focus {
			outline: 1px solid var(--pfy-primary-dark);
		}
	}

	.separated-scrollbox {
		margin-top: var(--pfy-spacing-standard);
		background: var(--pfy-empty-01-normal);
		border: 1px solid var(--pfy-primary-dark);
		border-radius: var(--pfy-spacing-large);
		overflow-y: scroll;
		flex-grow: 1;
	}

	/* Scrollbars */
	::-webkit-scrollbar {
		width: var(--pfy-spanning-scroll-element);
		margin-top: 10px;
	}
		
	::-webkit-scrollbar-thumb {
		background: var(--pfy-empty-02-depth);
		border-radius: calc(var(--pfy-spanning-scroll-element) / 2);
		
		&:hover {
			background: var(--pfy-shade-05);
		}
		
		&:active {
			background: var(--pfy-shade-04);
		}
	}

	.scrollbar-small {
		::-webkit-scrollbar {
			width: var(--pfy-spacing-standard);
			height: var(--pfy-spacing-standard);
		}
		
		::-webkit-scrollbar-track {
			background: var(--pfy-empty-02-normal);
			border-radius: var(--pfy-spacing-standard);
			border: 1px solid var(--pfy-empty-02-depth);
		}
		
		::-webkit-scrollbar-thumb {
			-webkit-border-radius: 16px;
			border-radius: 16px;
			background: var(--pfy-primary-dark); 
			border: 1px solid var(--pfy-primary-ultradark);
		}
	}

	/* Icons, use these to provide colours for simple SVG icons. */
	.icon-colour-standard {
		fill: none;
		stroke: none;

		&[data-use-fill] {
			fill: var(--pfy-content-shade-standard);

			/* Invert the colour */
			&[data-active-toggle="true"] {
				fill: var(--pfy-shade-light-01);
			}
		}

		&[data-use-stroke] {
			stroke: var(--pfy-content-shade-standard);

			&[data-active-toggle="true"] {
				stroke: var(--pfy-shade-light-01);
			}
		}
	}

	.icon-colour-field {
		fill: none;
		stroke: none;

		&[data-use-fill] {
			fill: var(--pfy-shade-dark-02);
		}

		&[data-use-stroke] {
			stroke: var(--pfy-shade-dark-02);
		}
	}

	.icon-colour-field-content {
		fill: none;
		stroke: none;

		&[data-use-fill] {
			fill: var(--pfy-field-content);
		}

		&[data-use-stroke] {
			stroke: var(--pfy-field-content);
		}
	}

	/* Text */
	.paragraph-regular {
		font-size: var(--pfy-font-text-standard);
		color: var(--pfy-text-normal);
	}
	
	.paragraph-big {
		font-size: var(--pfy-font-text-big);
	}
}

@keyframes borderPulsingAnimation {
	0% {
		border-color: var(--pfy-primary-common);
	}

	50% {
		border-color: var(--pfy-primary-dark);
	}

	100% {
		border-color: var(--pfy-primary-common);
	}
}
