/* To prevent any styling conflicts, all provided styles have to be within a pfy-style-context class. */

.pfy-style-context {
	font-family: "Open Sans", sans-serif;

	.regular-separator {
		width: 100%;
		border-left: 0;
		border-right: 0;
		border-top: 1px;
		border-color: var(--pfy-primary-faded);
	}

	.bold-separator {
		width: 100%;
		border-left: 0;
		border-right: 0;
		border-top: 1px;
		border-color: var(--pfy-primary-dark);
	}

	/* Small button */
	.button-small {
		height: var(--pfy-element-button-size-regular);
		padding: 0;
		padding-left: var(--pfy-spacing-large);;
		padding-right: var(--pfy-spacing-large);
		border: 1px solid var(--pfy-primary-dark);
		border-radius: var(--pfy-spacing-standard-compact);
		box-shadow: 1px 1px 1px 1px var(--pfy-empty-01-shadow);
		background: var(--pfy-shade-06);
		color: var(--pfy-text-light);
		font-weight: bold;
		font-size: var(--pfy-font-text-standard);
		line-height: 0px;
		text-align: center;
		transition: background var(--pfy-timing-fast), border var(--pfy-timing-snappy), outline var(--pfy-timing-snappy);
	
		&:focus {
			outline: 1px solid var(--pfy-primary-ultradark);
		}

		&:hover {
			background: var(--pfy-shade-05);
			border-color: var(--pfy-primary-ultradark);
		}

		&:active {
			background: var(--pfy-shade-04);
		}

		&:disabled {
			background-color: var(--pfy-empty-02-raised);
			box-shadow: 0px 0px 1px 1px var(--pfy-shade-06);
			color: var(--pfy-shade-03);
			border: 1px solid var(--pfy-primary-faded);
			cursor: not-allowed;
		}
	}

	/* Circle button */
	.circle-button {
		width: var(--pfy-element-button-size-regular);
		height: var(--pfy-element-button-size-regular);
		border-radius: 8px;
		background: var(--pfy-shade-06);
		border: 1px solid var(--pfy-primary-dark);
		color: white;
		margin: auto 0 auto 0;
		transition: background 0.2s;
		font-size: 15pt;
		display: flex;
		justify-content: center;
		align-items: center;
	
		&:hover {
			background: var(--pfy-shade-05);
		}

		&:active {
			background: var(--pfy-shade-04);
		}

		&:focus {
			outline: 1px solid var(--pfy-primary-ultradark);
		}
	}

	/* Scrollbars */
	::-webkit-scrollbar {
		width: var(--pfy-spanning-scroll-element);
		margin-top: 10px;
	}
		
	::-webkit-scrollbar-thumb {
		background: var(--pfy-empty-02-depth);
		border-radius: calc(var(--pfy-spanning-scroll-element) / 2);
		
		&:hover {
			background: var(--pfy-shade-05);
		}
		
		&:active {
			background: var(--pfy-shade-04);
		}
	}
}
