/* To prevent any styling conflicts, all provided styles have to be within a pfy-style-context class. */

.pfy-style-context hr {
	border: initial !important;
	background-color: var(--light-accent);
	height: 1px;
}

/* Small button */
.pfy-style-context .button-small {
	height: 16px;
	border: 1px solid var(--light-accent);
	background: var(--very-bright-light-shade);
	color: var(--dark-accent);
	font-weight: bold;
	text-align: center;
	font-size: 9pt;
	border-radius: 3px;
	padding: 0px 10px 0px 10px;
	transition: background 0.2s, border 0.1s, outline 0.05s;
	line-height: 0px;
}

.pfy-style-context .button-small:focus {
	outline: 1px solid var(--dark-accent);
}

.pfy-style-context .button-small:hover {
	background: var(--bright-light-shade);
	border: 1px solid var(--dark-accent);
}

.pfy-style-context .button-small:active {
	background: var(--regular-light-shade);
}

.pfy-style-context .button-small:disabled {
	background-color: var(--regular-light-shade);
	color: var(--dim-accent);
	border: 1px solid var(--outer-solid);
}

.pfy-style-context .square-button {
	aspect-ratio: 1 / 1;
	padding: initial !important;
	align-content: right;
}

/* Circle button */
.pfy-style-context .circle-button {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: var(--light-accent);
	border: 1px solid var(--dark-accent);
	color: white;
	margin: auto 0 auto 0;
	transition: background 0.2s;
	font-size: 15pt;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pfy-style-context .circle-button:hover {
	background: var(--dark-accent);
}

/* Scrollbars */
.pfy-style-context ::-webkit-scrollbar {
	width: 12px;
	margin-top: 10px;
}

.pfy-style-context ::-webkit-scrollbar-thumb {
	background: var(--bright-accent);
	border-radius: 6px;
}

.pfy-style-context ::-webkit-scrollbar-thumb:hover {
	background: var(--light-accent);
}

.pfy-style-context ::-webkit-scrollbar-thumb:active {
	background: var(--dark-accent);
}

.pfy-style-context :is(h1, h2, h3, h4, h5, h6) {
	margin: initial;
}
