:root {
	/* Colour Scheme, only set as fallback scheme. */
	--pfy-primary-common: rgb(255, 30, 74);
	--pfy-primary-faded: rgb(255, 135, 135);
	--pfy-primary-dark: rgb(197, 36, 56);
	--pfy-primary-ultradark: rgb(146, 26, 40);
	--pfy-empty-01-normal: rgb(247, 228, 224);
	--pfy-empty-01-raised: rgb(253, 233, 229);
	--pfy-empty-01-depth: rgb(244, 225, 222);
	--pfy-empty-01-shadow: rgb(177, 165, 163);
	--pfy-empty-02-normal: rgb(242, 211, 197);
	--pfy-empty-02-raised: rgb(251, 220, 207);
	--pfy-empty-02-depth: rgb(209, 184, 173);
	--pfy-empty-02-shadow: rgb(192, 169, 159);
	--pfy-text-strong: rgb(15, 15, 15);
	--pfy-text-normal: rgb(47, 47, 47);
	--pfy-text-light: rgb(68, 68, 68);
	--pfy-text-lighter: rgb(88, 88, 88);
	/* Dependent on the current theme. */
	--pfy-shade-01: rgb(40, 40, 40);
	--pfy-shade-02: rgb(107, 107, 107);
	--pfy-shade-03: rgb(136, 136, 136);
	--pfy-shade-04: rgb(189, 189, 189);
	--pfy-shade-05: rgb(230, 230, 230);
	--pfy-shade-06: rgb(250, 250, 250);
	/* These are dark no matter what theme is selected. */
	--pfy-shade-dark-01: rgb(20, 20, 20);
	--pfy-shade-dark-02: rgb(43, 43, 43);
	--pfy-shade-dark-03: rgb(65, 65, 65);
	/* These are light no matter what theme is selected. */
	--pfy-shade-light-01: rgb(250, 250, 250);
	--pfy-shade-light-02: rgb(232, 232, 232);
	--pfy-shade-light-03: rgb(210, 210, 210);
	/* Content, similar to text colours but for things like icons which need colour.
	* Needed because depending on the theme, primary colours might not be visible,
	* E.g. Dark primary colour on a black/grey button.
	*/
	--pfy-content-shade-standard: rgb(140, 30, 40);
	--pfy-content-shade-faded: rgb(200, 60, 100);
	--pfy-content-link: rgb(218, 28, 132);
	--pfy-content-link-visited: rgb(116, 51, 177);


	/* Other theming options */
	--pfy-main-font: "Open Sans";
	--pfy-fallback-font: sans-serif;
	--pfy-box-shadow-standard: 1px 1px 1px 1px var(--pfy-empty-01-shadow);
	--pfy-box-shadow-gentle-glow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);

	/* Never use the main or fallback fonts individually, always use the font collection below. */
	--pfy-font-scheme-standard: var(--pfy-main-font), var(--pfy-fallback-font);

	/* Sizes */
	--pfy-window-width: 390px;
	--pfy-window-height: 600px;
	--pfy-logo-standard: 50px;
	--pfy-font-heading-large: 16pt;
	--pfy-font-heading-medium: 14pt;
	--pfy-font-heading-small: 12pt;
	--pfy-font-heading-tiny: 11pt;
	--pfy-font-text-standard: 9pt;
	--pfy-font-text-big: 10pt;

	/* Element Sizes */
	--pfy-element-button-size-regular: 16px;
	--pfy-element-button-size-medium: 24px;
	--pfy-element-button-size-large: 28px;

	/* Whitespace, margins or padding. */
	--pfy-spacing-standard: 6px;
	--pfy-spacing-standard-compact: 3px;
	--pfy-spacing-large: 9px;
	--pfy-spacing-very-large: 12px;
	--pfy-spanning-scroll-element: 12px;

	/* Animations */
	--pfy-timing-snappy: 100ms;
	--pfy-timing-fast: 200ms;
	--pfy-timing-normal: 240ms;
	--pfy-timing-long: 340ms;
	--pfy-timing-longer: 430ms;
	--pfy-timing-very-long: 630ms;

	--pfy-easing-out-standard: cubic-bezier(0.26, 1, 0.5, 1);

	/* Forms */
	--pfy-label-width-small: 70px;
	--pfy-label-width-medium: 100px;
	--pfy-label-width-large: 120px;
	--pfy-label-width-very-large: 180px;
	--pfy-label-width-max: 220px;

	--pfy-field-width-small: 120px;
	--pfy-field-width-medium: 180px;
	--pfy-field-width-large: 240px;
	--pfy-field-width-very-large: 300px;
	--pfy-field-font-size: 8.5pt;

	/* Dialogs */
	--pfy-dialog-max-width: 500px;
	--pfy-dialog-min-margin: 10px;
	--pfy-dialog-margin-multiplier: 3;

	/* Colour types. */
	--pfy-important-success: rgb(117, 250, 36);
	--pfy-important-info: rgb(0, 120, 255);
	--pfy-important-warning: rgb(231, 89, 0);
	--pfy-important-error: rgb(205, 39, 0);

	--shake-animation-range: 55px;
}

@keyframes shakeBounceLeftRightAnimation {

	0% {
		transform: translateX(calc(1 * var(--shake-animation-range)));
	}

	20% {
		transform: translateX(calc(-0.5 * var(--shake-animation-range)));
	}

	40% {
		transform: translateX(calc(0.5 * var(--shake-animation-range)));
	}

	50% {
		transform: translateX(calc(-0.3 * var(--shake-animation-range)));
	}

	50% {
		transform: translateX(calc(0.3 * var(--shake-animation-range)));
	}

	70% {
		transform: translateX(calc(-0.15 * var(--shake-animation-range)));
	}

	90% {
		transform: translateX(calc(0.15 * var(--shake-animation-range)));
	}

	100% {
		transform: translateX(calc(0 * var(--shake-animation-range)));
	}

}