.pfy-style-context {
	font-family: "Open Sans", sans-serif;
}

:root {
	--outer-solid: #F8B295;
	--bright-accent: #FFB596;
	--light-accent: #FF824D;
	--dark-accent: #C64A15;
	--dim-accent: #C28B74;
	--subtle-background: #FBDECD;
	--raised-background: #FFD5BD;
	--regular-light-shade: #c7c7c7;
	--bright-light-shade: #e7e7e7;
	--very-bright-light-shade: #ffffff;
}
