.directory-navigator {
	display: flex;
	flex-direction: row;
	margin: 0;

	.navigation-buttons {
		margin-right: var(--pfy-spacing-standard);

		& button {
			& svg {
				width: calc(100% - 2px);
				height: calc(100% - 2px);
			}

			.back-arrow {
				transform: rotate(180deg);
			}
		}
	}

	.directory-path-bar {
		width: 100%;
	}

	.directory-navigator-slices {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		margin: 0;

		& li {
			display: flex;
			padding-top: 1px;
			padding-bottom: 1px;
			align-items: center;
			font-size: var(--pfy-font-text-standard);

			svg {
				width: 12px;
				margin-left: -2px;
				margin-right: -2px;
			}
		}

		.jump-to-slice-path-button {
			display: flex;
			padding-left: var(--pfy-spacing-standard-compact);
			padding-right: var(--pfy-spacing-standard-compact);
			background: var(--pfy-shade-light-03);
			font-size: var(--pfy-font-text-standard);
			border: 1px solid transparent;
			color: black;
			text-align: center;
			justify-content: end;
			align-items: center;
			height: 100%;
			border-radius: var(--pfy-spacing-standard-compact);

			&:hover {
				background-color: var(--pfy-shade-04);
				border: 1px solid var(--pfy-shade-03);
			}
		}
	}

	.settings-button {
		margin-left: var(--pfy-spacing-standard-compact);

		& svg {
			width: calc(100% - var(--pfy-spacing-standard-compact));
			height: calc(100% - var(--pfy-spacing-standard-compact));
		}
	}
}

.settings-panel {
	display: flex;
	flex-direction: row;
	padding-bottom: var(--pfy-spacing-standard-compact);

	.view-section {
		padding-left: var(--pfy-spacing-standard-compact);
		padding-right: var(--pfy-spacing-standard-compact);

		& button {
			display: flex;
				
			& svg {
				width: calc(100% - 2px);
				margin: auto;
				height: auto;
				margin: auto;
			}
		}
	}
}
