.subtle-expander-inner {
	display: flex;
	flex-direction: row;
}

.subtle-expander-text {
	font-weight: bold;
	font-size: 9pt;
	color: var(--dark-accent);
	margin-left: 3px;
}

.subtle-expander-arrow {
	transition: transform 300ms;
	margin-bottom: 1px;
}

.subtle-expander-content {
	overflow-y: hidden;
}

.subtle-expander-arrow[data-state='true'] {
	transform: rotate(180deg);
}
.subtle-expander-arrow[data-state='false'] {
	transform: rotate(0deg);
}

.subtle-expander-content[data-state='open'] {
	animation: slideDown 280ms ease-out;
}

.subtle-expander-content[data-state='closed'] {
	animation: slideUp 280ms ease-out;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}
  
@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}
