@import "src/globals.css";

.subtle-expander-inner {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
}

.subtle-expander-symbol {
	transition: transform 0.3s, margin-bottom 0.3s;
	margin-bottom: 10.5px;
}

.rotate-open {
	transform: rotate(0deg);
}

.rotate-close {
	transform: rotate(180deg);
}

.subtle-expander-text {
	font-weight: bold;
	font-size: 9pt;
	color: var(--dark-accent);
	margin-left: 3px;
}

.subtle-expander-content {
	grid-row: 2;
	grid-column: 1 / 3;
}
