.options-list {
	display: flex;
	flex-direction: column;
	gap: var(--pfy-spacing-standard-compact);
	list-style-type: none;
	padding-left: 0;

	.option-item {
		display: flex;
		flex-direction: column;
		
		.button-subtle {
			color: var(--pfy-text-light);
			font-family: var(--pfy-font-scheme-standard);
			font-size: var(--pfy-font-text-standard);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.regular-separator {
			margin: 0;
		}
	}
}