.directory-navigator {
	display: flex;
	flex-direction: row;
	margin: 0;

	.navigation-buttons {
		display: flex;
		flex-direction: row;
		gap: var(--pfy-spacing-standard-compact);
		margin-right: var(--pfy-spacing-standard);

		& button {
			& svg {
				width: calc(100% - 2px);
				height: calc(100% - 2px);
			}

			.back-arrow {
				transform: rotate(180deg);
			}
		}
	}

	.directory-path-bar {
		width: 100%;
	}

	.directory-navigator-slices {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		margin: 0;

		& li {
			display: flex;
			padding-top: 1px;
			padding-bottom: 1px;
			align-items: center;
			font-size: var(--pfy-font-text-standard);

			svg {
				width: 12px;
				margin-left: -2px;
				margin-right: -2px;
			}
		}

		.jump-to-slice-path-button {
			display: flex;
			padding-left: var(--pfy-spacing-standard-compact);
			padding-right: var(--pfy-spacing-standard-compact);
			background: var(--pfy-shade-light-03);
			font-size: var(--pfy-font-text-standard);
			border: 1px solid transparent;
			color: black;
			text-align: center;
			justify-content: end;
			align-items: center;
			height: 100%;
			border-radius: var(--pfy-spacing-standard-compact);

			&:hover {
				background-color: var(--pfy-shade-04);
				border: 1px solid var(--pfy-shade-03);
			}
		}
	}

	.settings-button {
		margin-left: var(--pfy-spacing-standard-compact);

		& svg {
			width: calc(100% - var(--pfy-spacing-standard-compact));
			height: calc(100% - var(--pfy-spacing-standard-compact));
		}
	}
}

.settings-panel {
	display: flex;
	flex-direction: row;
	padding-bottom: var(--pfy-spacing-standard-compact);

	.view-section {
		display: flex;
		flex-direction: row;
		gap: var(--pfy-spacing-standard-compact);
		padding-left: var(--pfy-spacing-standard-compact);
		padding-right: var(--pfy-spacing-standard-compact);

		& button {
			display: flex;
				
			& svg {
				width: calc(100% - 2px);
				margin: auto;
				height: auto;
				margin: auto;
			}
		}
	}
}

.video-directory-list {
	display: flex;
	flex-direction: column;
	user-select: none;
	align-items: stretch;

	.empty-click-area {
		flex-grow: 1;
	}
}

.drag-list-tooltip {
	--line-height: 16px;
	--transparent-tooltip-colour: color-mix(in srgb, var(--pfy-empty-01-depth) 80%, transparent);
	background-color: var(--transparent-tooltip-colour);
	border-radius: var(--pfy-spacing-standard);
	list-style-type: none;
	padding: var(--pfy-spacing-large);
	margin-left: var(--pfy-spacing-standard);
	animation-name: tooltipPopInAnimation;
	animation-duration: var(--pfy-timing-snappy);
	transform-origin: left;

	& li {
		height: var(--line-height);
		font-size: var(--pfy-font-text-standard);
		font-weight: bold;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--pfy-spacing-standard);
	}

	.directory-item {
		& svg {
			width: var(--line-height);
			height: var(--line-height);
		}
	}
}

@keyframes tooltipPopInAnimation {
	0% {
		transform: scale(0.8);
		filter: opacity(0.8);
	}
	100% {
		transform: scale(1);
		filter: opacity(1);
	}
}