@import "src/common-definitions.css";
@import "src/globals.css";

.video-timestamp-inner {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	align-items: center;
	margin: 1px 0;
}

.video-timestamp-time {
	font-size: 9pt;
}

.video-timestamp-separator {
	height: 12px;
	width: 1px;
	margin: 0 3px;
	background: var(--light-accent);
}

.video-timestamp-list-container {
	list-style-type: none;
	padding: 0;
	margin-left: 10px;
}

.video-timestamp-message {
	font-size: 9pt;
	margin: 0;
}

.video-timestamp-filler {
	flex-grow: 1;
}

.edit-grid {
	display: grid;
	gap: 10px;
	font-size: 10pt;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr;
	color: var(--dark-accent) !important;
	font-weight: bold;
}

.edit-grid > h6 {
	margin: auto 0;
	font-size: 10pt;
	font-weight: bold;
}

.edit-grid > input {
	border: 1px solid var(--dark-accent);
	border-radius: 3px;
	transition: outline 0.05s;
	padding: 0 5px;
}

.edit-grid > input:focus {
	outline: 2px solid var(--dim-accent);
}

/* Modal styling */
.modal-close-button {
	width: 20px;
	height: 20px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 15pt;
}

.modal-close-button:hover {
	font-weight: bolder;
}

.modal-title {
	font-weight: bold;
	color: var(--dark-accent) !important;
}

.modal-header {
	padding: 5px !important;
	background: var(--outer-solid);
}

.modal-body {
	padding: 5px 10px !important;
	background: var(--subtle-background);
}

.modal-footer {
	padding: 5px !important;
	background: var(--outer-solid) !important;
}
