@import "src/common-definitions.css";
@import "src/globals.css";

.video-timestamp-inner {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	align-items: center;
	margin: 1px 0;
	gap: 3px;
}

.video-timestamp-time {
	min-width: 55px;
	font-size: 9pt;
}

.video-timestamp-list-container {
	list-style-type: none;
	padding: 0;
	margin-left: 10px;
}

.video-timestamp-message {
	font-size: 9pt;
	padding: 1px 0 1px 3px;
	border-left: 1px solid var(--light-accent);
	margin: 0;
	margin-top: -1px;
}

.video-timestamp-filler {
	flex-grow: 1;
}

.edit-grid {
	display: grid;
	gap: 10px;
	font-size: 10pt;
	grid-template-rows: 1fr 1fr;
	color: var(--dark-accent) !important;
	font-weight: bold;
}

.edit-grid > h6 {
	margin: auto 0;
	font-size: 10pt;
	font-weight: bold;
}

.edit-grid > input {
	border: 1px solid var(--dark-accent);
	border-radius: 3px;
	transition: outline 0.05s;
	padding: 0 5px;
}

.edit-grid > input:focus {
	outline: 2px solid var(--dim-accent);
}

.timestamp-form {
	grid-template-rows: 1fr 1fr;
	grid-template-columns: auto 1fr;
}

.delete-timestamp-icon {
	transform: scale(1.2);
}
