@import "src/common-definitions.css";
@import "src/globals.css";

#video-timestamp-inner {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	align-items: center;
	margin: 1px 0;
}

#video-timestamp-time {
	font-size: 9pt;
}

#video-timestamp-separator {
	height: 12px;
	width: 1px;
	margin: 0 3px;
	background: var(--light-accent);
}

#video-timestamp-message {
	font-size: 9pt;
}

#video-timestamp-filler {
	flex-grow: 1;
}
