.account-details {
	display: flex;
	flex-direction: column;
	gap: var(--pfy-spacing-standard-compact);
	margin-top: var(--pfy-spacing-standard-compact);
	margin-bottom: var(--pfy-spacing-standard);

	.account-card {
		width: 80%;
		background-color: var(--pfy-empty-01-depth);

		.account-field-name {
			width: 65px;
		}

		.account-field-value {
			width: 100%;
		}
	}
}

.details-actions {
	display: flex;
	flex-direction: column;
}

.details-actions-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: var(--pfy-spacing-standard);
	padding: 0;
	margin: 0;
}

.actions-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
