.dialog-background-overlay {
	background: var(--pfy-shade-dark-01);
	opacity: 0.5;
	position: fixed;
	inset: 0;
}

.dialog-body {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	margin-top: calc(var(--pfy-dialog-min-margin) * var(--pfy-dialog-margin-multiplier));
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - var(--pfy-dialog-min-margin) * 2);
	max-width: var(--pfy-dialog-max-width);
	outline: 0;
	border-radius: var(--pfy-spacing-large);
	/* Prevents the header and footer overlapping the rounded corners. */
	overflow: hidden;
	font-family: var(--pfy-font-scheme-standard);
	animation: dialogSlideIn var(--pfy-timing-long) var(--pfy-easing-out-standard);

	.top-header {
		display: flex;
		padding: var(--pfy-spacing-standard);
		background-color: var(--pfy-empty-02-normal);
		
		.title {
			margin: 0;
			color: var(--pfy-text-strong);
			font-size: var(--pfy-font-heading-medium);
			font-weight: bold;
		}

		.close-button {
			margin-left: auto;
		}
	}

	.inner-content-area {
		display: flex;
		flex-direction: column;
		gap: var(--pfy-spacing-standard-compact);
		padding: var(--pfy-spacing-standard);
		background-color: var(--pfy-empty-01-raised);
		color: var(--pfy-text-normal);
		font-size: var(--pfy-font-text-standard);

		.description {
			margin: 0;
		}
	}

	.bottom-footer {
		display: flex;
		gap: var(--pfy-spacing-standard);
		justify-content: end;
		padding: var(--pfy-spacing-standard);
		background: var(--pfy-empty-02-normal);
	}
}

@keyframes overlayFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes dialogSlideIn {
	from {
		opacity: 0;
		margin-top: var(--pfy-spacing-standard);
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		margin-top: calc(var(--pfy-dialog-min-margin) * var(--pfy-dialog-margin-multiplier));
		transform: scale(1);
	}
}
