.theme-list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding-left: 0;
	gap: var(--pfy-spacing-standard);
	margin-top: var(--pfy-spacing-standard);
	margin-bottom: var(--pfy-spacing-standard);

	.drag-theme-hover-item {
		outline: 2px dashed var(--pfy-primary-ultradark);
		border-radius: var(--pfy-spacing-standard-compact);
	}
	
	.drag-line {
		position: relative;
		width: 100%;
		height: 0;

		hr {
			border: none;
			outline: none;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: var(--pfy-primary-common);
			margin: 0;

			&[data-start="true"] {
				transform: translateY(-3px);
			}

			&[data-start="false"] {
				transform: translateY(2px);
			}
		}
	}

	.theme-row {
		display: flex;
		flex-direction: row;
		gap: var(--pfy-spacing-standard);

		.select-button {
			display: flex;
			height: var(--pfy-element-button-size-large);
			flex-direction: row;
			width: 100%;
			background: var(--pfy-empty-02-raised);
			padding: var(--pfy-spacing-standard-compact);
			border: 0;
			border-radius: var(--pfy-spacing-standard);
			
			&[data-use-hover="true"]:hover {
				.name {
					padding-left: var(--pfy-spacing-very-large);
				}
			}
			
			&[data-selected] {
				background: var(--pfy-empty-02-depth);
				
				.name {
					padding-left: var(--pfy-spacing-very-large);
				}
			}
		
			.name {
				margin: 0;
				color: var(--pfy-text-normal);
				margin-left: var(--pfy-spacing-standard-compact);
				padding-left: var(--pfy-spacing-standard);
				border-left: var(--pfy-spacing-standard-compact) solid var(--pfy-primary-common);
				font-size: var(--pfy-font-heading-tiny);
				transition: padding var(--pfy-timing-snappy);
			}
			
			.preview-grid {
				margin-left: auto;
				display: grid;
				border-radius: var(--pfy-spacing-standard-compact);
				overflow: hidden;
				border: 1px solid black;
				height: 100%;
				box-shadow: var(--pfy-box-shadow-standard) var(--pfy-empty-01-shadow);
				width: calc(var(--pfy-element-button-size-regular) * 2);
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
		}
	
		.modify-buttons {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: var(--pfy-spacing-standard-compact);
		}
	}
}

.custom-theme-controls {
	display: flex;
	flex-direction: row;
	gap: var(--pfy-spacing-standard);
	margin-top: var(--pfy-spacing-standard);
}

.empty-theme-list-text {
	display: block;
	font-size: var(--pfy-font-text-standard);
	color: var(--pfy-text-lighter);
	text-align: center;
}
