.directory-drag-list {
	display: flex;
	flex-direction: column;
	padding: var(--pfy-spacing-standard);
	margin: 0;
	gap: var(--pfy-spacing-standard-compact);
	list-style-type: none;

	.directory-node-item {
		font-size: var(--pfy-font-text-big);

		.directory-item-outer {
			display: flex;
			width: 100%;
			flex-direction: row;

			.enter-navigate-button {
				display: flex;
				background-color: transparent;
				border: none;
				flex-direction: row;
				align-items: center;
				padding: 0;
				font-size: var(--pfy-font-text-standard);
				width: 100%;
				color: var(--pfy-text-normal);

				& button {
					align-self: flex-start;
					margin-left: auto;
				}
			}

			&[data-is-hover-overlap="true"] {
				margin-left: var(--pfy-spacing-very-large);

				& svg {
					margin-right: var(--pfy-spacing-large);
				}
			}
			
			hr {
				margin: var(--pfy-spacing-standard-compact);
			}

			.rename-button {
				padding-left: var(--pfy-spacing-standard-compact);
				padding-right: var(--pfy-spacing-standard-compact);
			}
		}
	}

	.empty-directory-message {
		display: block;
		font-size: var(--pfy-font-text-big);
		font-style: italic;
		text-align: center;
		color: var(--pfy-text-lighter);
		margin-top: var(--pfy-spacing-very-large);
	}
}
