.custom-page-outer {
	.title-bar {
		display: flex;
		flex-direction: row;
		gap: var(--pfy-spacing-standard);

		.arrow-icon {
			transform: rotate(90deg);	
		}

		.theme-title {
			margin: 0;
			font-size: var(--pfy-font-heading-tiny);
		}
	}

	.edit-theme-form {
		display: flex;
		flex-direction: column;
		gap: var(--pfy-spacing-standard);
		margin-bottom: var(--pfy-spacing-standard);
	}

	.doesnt-exist-error-message {
		display: block;
		text-align: center;
		color: var(--pfy-text-lighter);
		margin-top: var(--pfy-spacing-very-large);
	}

	.save-changes-bar {
		display: flex;
		flex-direction: row;
		gap: var(--pfy-spacing-large);
		padding-bottom: var(--pfy-spacing-very-large);
		
		.confirmation-text {
			font-size: var(--pfy-font-text-standard);
			height: var(--pfy-element-button-size-regular);
			color: var(--pfy-primary-common);
			animation: fadeOut 1100ms ease-in;
			animation-delay: 5s;
		}
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
