.internal-spinner-style {
	display: flex;
	flex-direction: row;
	gap: var(--pfy-spacing-standard);
	align-items: center;

	& svg {
		animation: spinningAnimation;
		animation-duration: var(--pfy-timing-very-long);
		animation-iteration-count: infinite;
	}

	.spinner-text {
		font-size: var(--pfy-font-text-big);
		font-style: italic;
		color: var(--pfy-text-light);
		height: 20px;
	}
}

@keyframes spinningAnimation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
