.account-info-text {
	text-align: center;
	margin-left: var(--pfy-spacing-very-large);
	margin-right: var(--pfy-spacing-very-large);
}

.account-button-option-bar {
	justify-content: center;

	& button {
		width: 50%;
	}
}