.node-item {
	display: flex;
	flex-direction: row;
	gap: var(--pfy-spacing-standard-compact);
	border: 1px solid transparent;
	border-bottom: 1px solid var(--pfy-primary-faded);
	padding: var(--pfy-spacing-standard-compact);
	--transparent-bg-selected: color-mix(in srgb, var(--pfy-selection-primary) 10%, transparent);
	--transparent-bg-hover: color-mix(in srgb, var(--pfy-selection-primary) 5%, transparent);

	*[data-focus] {
		flex-grow: 1;

		&:focus {
			outline: none;
		}
	}

	&[data-is-hover-highlight="true"] {
		&:hover {
			outline: 1px solid var(--pfy-selection-primary);
			background-color: var(--transparent-bg-hover);
		}
	}

	&[data-is-selected="true"] {
		border: 1px solid var(--pfy-selection-primary);
		background-color: var(--transparent-bg-selected);
		backdrop-filter: opacity(0);
	}
}
