@import "globals.css";
@import "common-definitions.css";

/* Outer areas */
.outer-body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}

.top-heading {
	display: flex;
	flex-direction: column;
}

.title-heading {
	margin: auto auto auto 9px;
	color: var(--dark-accent);
	font-size: 12pt;
	font-weight: bold;
}

.logo-standard {
	width: 39px;
	height: 40px;
	margin-left: 6px;
}

.outer-section-area {
	background: var(--outer-solid);
	display: flex;
	flex-direction: column;
}

.top-area {
	grid-row: 1;
}

.outer-section-area > hr {
	margin: 0 2px 0 2px;
}

#top-section-inner-wrap {
	display: flex;
	flex-direction: row;
}

.add-video-form {
	grid-template-rows: 1fr;
}

/* Bottom outer area */
.bottom-area {
	grid-row: 3;
}

#bottom-section-inner-wrap {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: auto 1fr auto;
	row-gap: 3px;
	margin: 2px 5px 3px 0;
}

#bottom-section-inner-wrap > button {
	margin-left: 10px;
}

.outer-area-subtle-text {
	grid-row: 2;
	grid-column: 3;
	font-weight: bold;
	color: var(--dim-accent);
	font-size: 9pt;
}

/* Inner body */
.inner-body {
	background: var(--subtle-background);
	grid-row: 2;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#current-video-card {
	margin: 5px 0 5px 0;
}

.button-bar {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	gap: 5px;
}

.regular-vmargin {
	margin: 5px 0;
}

#timestamp-scrollbox {
	background: var(--raised-background);
	border: 1px solid var(--light-accent);
	border-radius: 12px;
	flex-grow: 1;
	overflow-y: scroll;
	height: 0px;
}

#timestamp-scrollbox::-webkit-scrollbar-track {
	margin: 5px 0 5px 0;
}
