
/* Inner body */
.inner-body {
	background: var(--subtle-background);
	grid-row: 2;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#current-video-card {
	margin: 5px 0 5px 0;
}

.button-bar {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	gap: 5px;
}

.regular-vmargin {
	margin: 5px 0;
}

#timestamp-scrollbox {
	background: var(--raised-background);
	border: 1px solid var(--light-accent);
	border-radius: 12px;
	flex-grow: 1;
	overflow-y: scroll;
	height: 0px;
}

#timestamp-scrollbox::-webkit-scrollbar-track {
	margin: 5px 0 5px 0;
}
