.video-page-inner {
	display: flex;
	flex-direction: column;
	height: 100%;

	.current-video-heading {
		margin-top: var(--pfy-spacing-standard);
	}
	
	.current-video-card {
		margin-top: var(--pfy-spacing-standard);
		margin-bottom: var(--pfy-spacing-standard-compact);
	}

	.current-video-buttons {
		display: flex;
		flex-direction: row;
		gap: var(--pfy-spacing-standard);
		margin-bottom: var(--pfy-spacing-standard-compact);
	}

	.video-collection-buttons {
		display: flex;
		flex-direction: row;
		gap: var(--pfy-spacing-standard);

		.open-filter-dropdown {
			min-width: 136px;

			.dropdown-arrow {
				margin-left: auto;
			}
			
			.open-filter-placeholder {
				font-style: italic;
			}
		}
	}

	.video-collection-section-heading {
		margin-top: var(--pfy-spacing-standard);
		margin-bottom: var(--pfy-spacing-standard);
	}

	.video-collection-scrollbox {
		margin-top: var(--pfy-spacing-standard);
		background: var(--pfy-empty-01-normal);
		border: 1px solid var(--pfy-primary-dark);
		border-radius: var(--pfy-spacing-large);
		overflow-y: scroll;
		flex-grow: 1;
	}
}
